/* Add styling here */
body { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
  background-color: #d99ca7;
  font-family: Leelawadee;
}


/* text styling here */

.pageTitles {
  text-align: center;
  color: black;
  -webkit-text-stroke-color:white;
  -webkit-text-stroke-width: 1px;
  font-size: 30px;
  font-family: Leelawadee;
}

.aboutPage {
  text-align: center;

  p{
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 40%;
    margin-right: 40%;
    line-height: 1.5em;
  }
  h4{
    font-size: 30px;
    line-height: 1.5em;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1px;
  }
}

/* nav bar*/

nav ul {
  list-style-type: none;
  background-color: #82244d;
  text-align: center;
  margin: 0;
  padding: 10px;
  overflow: hidden;
 
}

nav li {
  display: inline-block;
  margin: 1em;
  font-family: Leelawadee;

  
}

nav li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

nav a:hover {
  color: #face06;

}
